$main-color: rgb(25, 209, 123);
$bar-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
$white-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.25);
$light-bg-color: rgb(226, 226, 226);
$lighter-bg-color: rgb(245, 245, 245);
$image-bg-color: rgb(231, 231, 231);
$side-bar-bg: rgb(104, 216, 164);

$dark-bag-color: rgb(105, 105, 105);
$darker-bg-color: rgb(88, 88, 88);
$dark-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.295);
